.popup__error-message {
    display: none;
    color: red;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
}