.pictures__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    padding: 0 0 0 0;
    width: 22px;
    height: 19px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.pictures__like:hover {
    opacity: 0.5;
}